<ul class="list-group">
  <li class="list-group-item">
    <button routerLink="/" class="btn btn-link">Home</button>
  </li>
  <li class="list-group-item">
    <button routerLink="/contacts" class="btn btn-link">View contacts</button>
  </li>
  <li class="list-group-item">
    <button routerLink="/new-contact" class="btn btn-link">
      Add new contact
    </button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-link">Contact us</button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-link">About us</button>
  </li>
</ul>
